extends layout

block content
  h1= title 
  p Bem vindo a #[em Rota das Fábulas], um website de biblioteca desenvolvido em Express!! 
  
  h1 Sumário:

  p Acervo da biblioteca!

  ul
    li #[strong Livros:] !{book_count}
    li #[strong Cópias:] !{book_instance_count}
    li #[strong Cópias disponíveis:] !{book_instance_available_count}
    li #[strong Autores:] !{author_count}
    li #[strong Gêneros:] !{genre_count} 
